.app {
  /*padding: 30px;*/
  display: flex;
  flex-wrap: wrap;
}

.app > div {
  margin-right: 50px;
}

.error{
  border: 1px solid red;
}
.errorMessage {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  text-decoration: line-through;

}

.container {
  display: flex;
  align-items: center;
}